/*
 * Default ressources
 * Under Creative Commons - 2015
 */

/*===== MISC =====*/

html, body {
    background-color: #E9E9E9;
    font-family: 'Roboto', sans-serif;
}

.no-interaction {
    cursor: default !important;
}

.form-no-interaction {
    pointer-events: none;
}

.less_padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.icone-modifier {
    color: #fff;
}

.fileUpload {
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*=====HEADER=====*/

.mdl-layout__header {
    background: url('../images/header.png') center / cover;
}

.mdl-layout__header-row {
    background: rgba(0, 0, 0, .25);
}

.layout-no-menu {
    padding: 0 20px;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header {
        display: flex !important;
    }

    .mdl-layout__header-row {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 500px) {
    /*.object_card {*/
    .list_card {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0 !important;
        width: 100%;
    }
}

/*===== NOTIFICATIONS =====*/

.error {
    color: #F44336;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.error > i {
    padding: 10px;
    margin: 15px 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.success {
    color: #2ecc71;
    text-align: center;
}

.success > i {
    background: #2ecc71;
    color: #fff;
    padding: 10px;
    margin: 15px 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    font-size: 2em;
}

/*===== PAGE TITLE =====*/

.titre_page > img {
    max-width: 320px;
    width: 50%;
}

/*===== SITE CONTENT =====*/

/* Index content */

#site-description > .mdl-card {
    margin-right: 64px;
}

#site-description {
    background: url('../images/desc_bg.jpg') fixed center;
    padding: 64px;
    margin-top: 32px;
}

#best-object-card {
    padding-top: 64px;
}

#best-object-card > .more_padding {
    padding: 0 64px;
}

#link-objects {
    padding: 32px 0;
    width: 100% !important;
}

.invitation {
    background: url('../images/chemin_de_traverse.jpg') fixed center;
    width: 100%;
    padding: 128px 0;
}

@media screen and (max-width: 600px) {

    #site-description {
        background: url('../images/desc_bg.jpg') fixed center;
        padding: 64px 0;
        margin-top: 32px;
    }

    #site-description > .mdl-card {
        margin: 0 auto;
    }

    #best-object-card {
        background-attachment: fixed;
        padding-top: 64px;
    }

    #best-object-card > .more_padding {
        padding: 64px 0;
    }

    #link-objects {
        padding: 32px 0;
    }
}

/*===== CARDS =====*/

.centre_card {
    margin: 50px auto;
}

.titre_card {
    color: #fff;
    -webkit-background-size: cover !important;
    background: #C83737 no-repeat;
}

/* Description card (index) */

.object_card > .mdl-card__supporting-text {
    font-weight: 500;
    font-size: 1em;
}

/* OBJECT card */

.object_card > .titre_card {
    height: 178px;
    opacity: 0;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
}

.object_card > .material-icons {
    height: 24px;
}

/* EDIT OBJECT card */

#edit-object-card > .titre_card {
    height: 178px;
}

/* DELETE OBJECT card */

#delete-object-card > .titre_card {
    height: 200px;
    background: #F44336 url('../images/delete_card_bg.png') center;
    text-align: center;
}

/* SIGNING card */

#signin_card > .titre_card {
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url('../images/add_user_bg.png') center / cover;
}

/* EDIT USER card */

#edit_user_card > .titre_card {
    min-height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url('../images/edit_user_bg.png');
    background-size: cover;
}

/* PASSWORD USER card */

#password_card > .titre_card {
    min-height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url('../images/edit_password_bg.png');
    background-size: cover;
}

/* DELETE USER card */

#delete_user_card > .titre_card {
    min-height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url('../images/delete_user_bg.png');
    background-size: cover;
}

/*===== FORMS =====*/

.form_padding {
    padding-bottom: 0 !important;
}

#edit_user_card > form, #password_card > form, #delete_user_card > form {
    display: none;
}

/*===== FONT STYLE =====*/

.link-no-style {
    text-decoration: none;
}

.centrer_texte {
    text-align: center;
}

.red {
    color: #F44336;
}

.white {
    color: #fff;
}

.titre_page {
    width: 80%;
    line-height: normal;
    font-size: 3em;
    font-weight: 300;
    padding: 64px 0;
    text-align: center;
    margin: 0 auto;
}

.simple_text {
    max-width: 640px;
    padding: 32px 64px;
    margin: 0 auto;
    text-align: justify;
}

/*===== CARDS LIST =====*/

.list_card_wrapper {
    text-align: center;
    padding: 0 0 20px;
}

.list_card {
    margin: 20px 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
}

/*===== PAGE SELECTOR =====*/

.page-selector {
    text-align: center;
    margin: 50px auto;
    padding: 25px;
    font-size: 1em;
}

.page-link {
    color: #999;
}

/*===== STICKY FOOTER =====*/

footer {
    margin-bottom: auto;
    padding: 16px 16px !important;
}

footer ul {
    /*margin-left: auto;
    margin-right: auto;*/
    margin: auto !important;
    padding: 0 !important;
}

footer p {
    margin: 0;
    padding: 0;
}

@media screen and (max-height: 600px) {
    footer {
        visibility: hidden !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    footer ul {
        margin: 0 !important;
    }
}